<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>ZOOLIDON</title>
    <metaname="description" content="Zoo, service client" />
    <metaname="author" content="Tom Dolidon" />

    <!-- <meta name="robots" content="[[no]index][no[flollow]]" /> -->

</head>

<body>
    <header>
        <h1>ZOOLIDON </h1>
    </header>

    <nav>
        <h2>MENU</h2>
        <a href="./menu.html">Menu</a>
        <a href="./activites.html">Activités</a>
        <a href="./animaux.html">Animaux</a>
        <a href="./banqueSon.html">Banque de sons</a>
        <a href="./sceneVideo.html">Scènes vidéo</a>
        <a href="contact.html">Contact</a>
    </nav>

</body>
